.album-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    max-height: 350px;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 100px auto;

    font-size: 30px;
    border: 1px solid #757575;
    padding: 12px;
    background-color: #5a4f4f;
    border-radius: 10px;
    color: #93c1a2;
    overflow-y: auto;

}

input {
  background-color: #aeaeae;
  border: none;
  padding: 4px;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #425c4a;
  margin-top: 7px;
}

.save {
  background-color: #709c8c;
  border: none;
  border-radius: 10px;
  height: 30px;
  margin: 7px 0;
}

.back {
  background-color: #37c8a2;
  border: none;
  border-radius: 10px;
  height: 30px;
}
