.album-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: 1fr;
  gap: 15px;
  margin: 100px 40px;
  justify-items: center;
}

.album-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 120px;
  height: 90px;
  overflow: auto;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(85, 71, 71);
  background-color: #7db2cd;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid rgb(139, 139, 172);
  cursor: pointer;
  transition: 0.2s;
}

.album-item:hover {
  transform: translateY(-4px) scale(1.02);
}


.delete-btn {
  border: none;
  background-color: rgb(240, 240, 240);
  width: 20px;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 50px;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
