
.logo {
    padding-left: 10px;
    padding-top: 10px;
    width:70px;
    height:70px;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 1100px) {
    .desc {
        display: none !important;
    }

    .login-box {
        margin: 10% 0 !important;
    }

    .main-box::before {
        display: none !important;
    }

}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    min-height: 100vh;
    position: relative;
    padding: 0 5%;
}

.main-box::before {
    content: "";
    position: absolute;
    left: 55%;
    top: 0;
    transform: translate(-50%, -50%);
    height: 190%;
    width: 2px;
    background: rgb(129, 129, 129, 0.4);
}

#bottom-line {
    position: absolute;
    left: 50%;
    bottom: 0;
    top: 96%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;

    background: rgb(129, 129, 129, 0.4);
    margin: 0;
    border: none;
}


.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 600px;
}

#callToAction {
    width: 400px;
    font-size: 45px;
    text-align: center;
}

#highlight {
    background: linear-gradient(
        45deg,
        rgb(209, 102, 176),
        rgb(255, 0, 129),
        rgb(236, 172, 30),
        rgb(199, 0, 255)
    );

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mockImg {
    margin-top: -50px;
    width: 500px;
    height: 400px;
}

label {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;

}

.login-box {
    font-family: "Roboto", sans-serif;
    max-width: 500px;
    margin-right: 50px;
    margin-left: 80px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#login-instagram {

    width: 100%;
    text-align: left;

}

.vertical-line {
    border-left: 2px solid rgba(129, 129, 129, 0.3);
    height: 100%;
    margin: 40px 0;
}

#login-form {
    width: 485px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#login-form input {
    padding: 0 15px;
    margin-bottom: 10px;
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgb(172, 163, 167, 0.7);
}

#log-in {
    margin-top: 15px;
    color: white;
    width: 95%;
    max-width: 485px;
    cursor: pointer;
    border-radius: 20px;
    border: 0;
    height: 50px;
    background-color: rgb(54, 70, 225);

}

#forgot-password {
    color: black;
    text-decoration: none;
    width: 485px;
    margin-top: 20px;
    margin-left: 34%;
    display: block;

}


#other-login {
    margin-top: 70px;
    display: flex;
    width: 95%;
    max-width: 485px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

#facebook-login {
    text-decoration: none;
    color: black;
}

#facebook-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;

}

#other-login-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: transparent;
    border-radius: 20px;
    height: 50px;
    border: 1px solid rgb(172, 163, 167, 0.7);
    font-weight: 600;
}

#create-account {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 95%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 20px;
    height: 50px;
    border: 1px solid rgb(0, 167, 255);
    font-weight: 600;
}

#create-account-link {
    text-decoration: none;
    color: rgb(0, 167, 255);
}

#meta-logo {
    width: 89.6px;
    height: 50.4px;
}
