body {
    background-color: rgb(233, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {
    .main-box {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    #desc {
        width: 100%;
        max-width: 500px;
        margin-top: -30px;
        margin-bottom: 0;
        height: auto;
    }

    .login-box {
        margin-top: 0 !important;
        margin-left: 0;
    }
}

@font-face {
    font-family: 'Klavika';
    src: url('klavika-regular-webfont.woff');
}

#facebook {
    font-family: Klavika, sans-serif;
    color: rgb(24, 119, 242);
    font-weight: 600;
    font-size: 64px;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 980px;
    gap: 40px;
    margin: 0 auto;
    padding: 40px 20px 20px 20px;
}

#desc {
    margin-top: -35px;
    margin-bottom: 0;
    font-family: sans-serif;
    width: 500px;
    font-size: 28px;
    height: auto;

}

.login-box {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 350px;
    width: 396px;


    border-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);

}

.login-box form {
    width: 100%;
    padding-top: 0;
    margin-top: -20px;
}

.login-box form input {

    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    margin-bottom: 8px;
    width: 100%;
    height: 52px;
    box-sizing: border-box;
    padding: 8px;

}

.login-box form input::placeholder {
    font-size: 15px;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Klavika, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid rgb(30, 30, 230);
    width: 100%;
    background-color: rgb(30, 30, 230);
    color: white;
    height: 48px;
}

#forgot {
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: Klavika, sans-serif;
    font-weight: bold;
    color: rgb(60, 132, 241);
    text-decoration: none;

}

#line {
    border: none;
    border-top: 1.2px solid rgb(233, 235, 235);
    width: 90%;
    margin: 25px 0;

}

#create-account {
    display: flex;
    justify-content: center;
    font-family: Klavika, sans-serif;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    width: 60%;
    height: 48px;
    background-color: rgb(47, 205, 47);
    color: white;
    margin-top: 10px;


}

label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

#create-vip {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 28px;
    font-size: 14px;
    font-family: "Klavika", sans-serif;
    width: 326px;
}

#create-vip a{
    text-decoration: none;
    color: black;
}

