.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1250px) {
    #hero-title {
        font-size: 48px !important;
    }

    .add-on-single-card {
        height: 170px !important;
    }
}

@media (max-width: 777px) {
    #hero-title {
        font-size: 32px !important;
    }

    .plans {
        grid-template-columns: 1fr !important;
        max-width: 400px !important;
    }

    .add-on-single-card {
        height: 190px !important;
    }

}

@font-face {
    font-family: 'Mona Sans';
    src: src(MonaSans.ttf);
}

#hero-title {
    color: #1F2328;
    font-family: 'Mona Sans', sans-serif;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

#desc {
    color: rgb(89, 99, 110);
    font-family: 'Mona Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 12%;
    text-align: center;

}


#CTA-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Mona Sans', sans-serif;
    margin-top: 3%;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(
            0deg,
            rgb(0, 0, 0),
            rgb(60, 60, 60)
    )
}

.plan-title {
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: black;

}

.plan-card {
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;

    width: 100%;
    max-width: 390px;
    min-width: 100px;
    height: 900px;
    border-radius: 10px;
    border: 1px solid rgb(159, 159, 159);
    box-shadow: 13px 8px 40px rgba(0, 0, 0, 0.4);
    justify-self: center;



}

.plans {
    margin-top: 30px;
    display: grid;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    width: 50%;
    font-family: 'Mona Sans', sans-serif;
    font-size: 14px;
    margin-top: -10px;
    max-height: 60px;
    overflow: auto;
}

.price {
    position: absolute;
    top: 14%;
    font-family: 'Mona Sans', sans-serif;
}

.rate {
    color: rgb(89, 99, 110);
}
.amount {
    font-size: 48px;
    font-weight: 200;
    color: black;
}

.dollar {
    font-size: 24px;
}

.plan-link {
    position: absolute;
    width: 85%;
    height: 5%;
    top: 24%;
    text-decoration: none;
    color: black;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 10px;
}

.black-link {
    background: linear-gradient(
            0deg,
            rgb(0, 0, 0),
            rgb(60, 60, 60)
    );
    color: white;
}

#second-link {
    position: absolute;
    width: 85%;
    height: 5%;
    top: 30.5%;
    text-decoration: none;
    color: white;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 10px;


}

.two-buttons {
    top: 24%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 85%;
    gap: 15px;
}

#two-button-link1 {
    flex: 1;
    min-width: 0;
    height: 46px;
    text-decoration: none;
    color: black;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 10px;
}

#two-button-link2 {
    flex: 1;
    min-width: 0;
    height: 46px;
    text-decoration: none;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(159, 159, 159);
    border-radius: 10px;
    background: linear-gradient(
            0deg,
            rgb(0, 0, 0),
            rgb(60, 60, 60)
    );
    color: white;
}

.features {
    position: absolute;
    top: 32%;
    left: 9%;
    font-family: 'Mona Sans', sans-serif;
    color: rgb(115, 113, 113);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.features summary {
    font-weight: 600;
}

details {
    max-width: 300px;
    margin-bottom: 15px;
    font-size: 13px;
}

details p {
    max-width: 240px;
    overflow: auto;
}

.short-desc {
    font-weight: 100 !important;
    margin-left: 13px;
}

.add-ons {
    color: rgb(0, 100, 207);
    font-weight: 400;
}

#enterprise-plan {
    border: 7px solid transparent;
}

#enterprise-outer {
    border: 7px solid rgb(0, 100, 207);
    border-top-width: 25px;
    border-radius: 15px;
    position: relative;
    width: 100%;
    padding: 1px;
}

#recommended {
    font-family: 'Mona Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    transform: translateX(-50%);
    position: absolute;
    top: -34px;
    left: 25%;
    margin-left: 27%;
}

.add-add-ons {
    font-family: 'Mona Sans', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#add-ons-text {
    text-align: center;
    font-size: 64px;
    font-family: 'Mona Sans', sans-serif;
    font-weight: 600;
    color: rgb(43, 43, 43);
}

.add-ons-cards {
    flex: 1;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.add-on-logo {
    width: 32px;
    height: 32px;
    margin-bottom: -6%;
}

.add-on-single-card {
    padding: 24px;
    border: 1px solid rgb(159, 159, 159, 0.4);
    border-radius: 10px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.15);

    height: 150px;

}

.add-on-title {
    font-weight: 400;
    font-size: 20px;
}

.add-on-desc {
    color: rgb(152, 152, 152);
    font-size: 14px;
}

.add-on-CTA {
    font-weight: 400;
    font-size: 14px;
}